.container-pre {
	// @include flex(row , center , center);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	.pre {
		&-wrapper {
			position: relative;
			overflow: auto;
			padding: 1rem 1rem 1rem 1rem;
			border-radius: 10px;
			background-color: $white;
			max-width: 1200px;
			width: 100%;
			&-code {
				width: 100%;
				display: flex;
				color: $black;
			}
			button {
				position: absolute;
				top: 1rem;
				right: 1rem;
				font-size: 0.9rem;
				padding: 0.25rem 2rem;
				background-color: #828282;
				border: solid 1px #7b7b7c;
				border-radius: 5px;
				text-shadow: #c4c4c4 0 0 2px;
				&:hover {
					cursor: pointer;
					background-color: #bcbabb;
				}
			}
		}
	}
}

.source-code {
	position: fixed;
	bottom: 20px;
	left: 20px;
	border: solid 2px $black;
	padding: 8px 20px;
	border-radius: 20px;
	color: $black;
	font-weight: 500;
	background-color: $white;
	cursor: pointer;
    a {
        color: $black;
    }
	&:hover {
		background-color: $black;
	}
}

.source-code:hover > a {
	color: $white;
}
